VITE_APP_TITLE=Retro Tool
VITE_APP_ENV=local
VITE_API_URL=http://localhost:8000
VITE_CONVEX_URL=http://localhost:3210
VITE_ESTIMATES_REALTIME_BACKEND=convex
VITE_RETROS_REALTIME_BACKEND=convex
VITE_NOTIFICATIONS_REALTIME_BACKEND=convex